.speech {
    font-family: cursive;
    font-size: 16px;
    color: rgb(123, 28, 28);
  }
  
  .direction {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: rgb(198, 39, 39);
    background-color: lightgrey;
  }
  
  .direction:hover {
    color: rgb(126, 126, 71);
    background-color: lightskyblue; 
  }
  
  .zinaida {
    color: blue;
    font-size: 18px;
  }
  
  .martha {
    color: slateblue;
    font-size: 18px;
  }
  
  .first {
    color: green;
    font-size: 18px;
  }
  
  .kosich {
    color: red;
    font-size: 18px;  
  }
  
  .george {
    color: orange;
    font-size: 18px;
  }
  
  .avdotia {
    color: purple;
    font-size: 18px;
  }
  
  .second {
    color: brown;
    font-size: 18px;
  }
