/* Speech class for spoken text */
.speech {
    font-family: cursive;
    font-size: 16px;
    color: black;
}

/* Direction class for non-spoken directions */
.direction {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: black;
    background-color: lightgrey;
}

/* Hover effect for direction class */
.direction:hover {
    color: rgb(10, 87, 47);
    background-color: rgb(135, 169, 250);
}

/* Character styles */
.ZINAIDA {
    color: rgb(75, 12, 33);
    font-size: 18px;
}

.MARTHA {
    color: rgb(30, 176, 25);
    font-size: 18px;
}

.FIRST_GUEST {
    color: rgb(11, 152, 28);
    font-size: 18px;
}

.KOSICH {
    color: slateblue;
    font-size: 18px;
}

.GEORGE {
    color: slateblue;
    font-size: 18px;
}

.AVDOTIA {
    color: slateblue;
    font-size: 18px;
}

.SECOND_GUEST {
    color: slateblue;
    font-size: 18px;
}
